html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;
}

body {
  line-height: 1;
  -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  font-size: 20px;
  line-height: 60px;
  color: black;
  text-indent: 10px; 
  font-weight: 100;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  cursor: url(http://okfoc.us/assets/franc/finger.png), auto;
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  // fix a very strange drag issue in webkit
  position: fixed;
  top: 0;
  left: 0;
}
/*
#tumblr_controls{display:none !important;visibility:hidden !important;}
#tumblr_controls iframe{display:none !important;}
*/
.post a{font-size:170%;}

body {
  font-family: Monaco, "Courier New", Courier, monospace;
  text-transform:uppercase;
  font-weight: 100;
  color: #333;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 0;
  background-image: url("http://okfoc.us/assets/franc/bg.jpg");
  background-position: top left;
  background-attachment: fixed;
}

a {
  font-size: 70%;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 4px;
  color: #333;
}

a:hover {
  // font-size: 70%;
  color: black;
  text-decoration: none;
cursor:pointer;
}

a:visited {
  color: #333;
  cursor: url(http://okfoc.us/assets/franc/finger.png), auto;
}

#fblike {
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0px;
}

#linx {
  top: 10px;
  left: 10px;
  z-index: 10;
  position: fixed;
  color: #333;
}
select{ font-size:20px; background: rgba(255,255,255,0.9);}
#navz {
  cursor: pointer;
  margin-left:5px;
  margin-top:5px;
  cursor: hand;
  display: none;
  text-transform:uppercase;
}
#navz option {
  cursor: pointer;
  cursor: hand;
}

#logo {
  top: -30px;
  left: -30px;
  position: fixed;
  z-index:-1;
}
#mark {
  display: inline-block;
  letter-spacing: 7px;
  font-size: 20px;
  margin: 10px 20px 10px 10px;
  cursor: pointer;
  cursor: hand;

}

.post {
  position: absolute;
}

#nav {
  cursor: url(http://okfoc.us/assets/franc/handopen.gif), auto;
  position: absolute;text-transform:uppercase;
  top: 0;
  left: 0;
}

#canvas-handle {
  cursor: url(http://okfoc.us/assets/franc/handopen.gif), auto;
  width: 8000px;
  height: 20000px;
  position: absolute;
  top: 2000px;
  left: 200px;
  opacity: 0;
  overflow: hidden;
  margin-top:-50px;
}
#canvas-handle:active, #canvas-handle.dragging {
  cursor: url(http://okfoc.us/assets/franc/handgrab.gif), auto;
}

div.title {
  font-size: 24px;
  margin-bottom: 5px;
}
div.copy p {
  margin-bottom: 10px;
}
div.copy p span {
  display: block;
  max-width: 600px;
}
#okfocus {
  position: fixed;
  bottom: 20px;
  cursor:pointer;
  right: 15px;
  z-index: 420;
  text-decoration: none;
}
#okfocus:hover {
}
#okfocus a:hover {
  background: transparent;cursor:pointer;
}
#okfocus a {
  text-decoration: none;
  border: 0;cursor:pointer;
} #okfocus a img {cursor:pointer;
  text-decoration: none;
  border: 0;
}

#social {
  position: fixed;
  top: 50px;width:120px;
  right: 15px;
}
.fb-like {
  position: relative;float:right;
  top: -7px;margin:5px;
}
.twitter-share-button {
  position: relative;float:right;
  top: -3px;margin:5px;
}

.photoset .photoset_row {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}
.photoset .photoset_row:first-child {
  margin-top: 0;
}
.photoset .photoset_row .photoset_photo {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.photoset .photoset_row .photoset_photo:first-child {
  margin-left: 0 !important;
}
