html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;
}

body {
  line-height: 1;
  -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
p{font-family:impact; font-size:46px;line-height:60px;color:red;font-style:italic;text-shadow:-2px 2px black;text-indent:10px;font-weight:100;}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  cursor: url(http://asdf.us/okfocus/ff/finger.png), auto;
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #333;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 0;
  background-image: url("http://asdf.us/okfocus/ff/bg.jpg");
  background-position: top left;
  background-attachment: fixed;
}

a {
  font-size: 70%;
  text-decoration: none;cursor:pointer;
  font-family: Monaco, "Courier New", Courier, monospace;
  letter-spacing: 4px;
  color: #333;

}

a:hover {
  font-size: 70%;
  color: black;
  text-decoration: none;
cursor:pointer;
}

a:visited {
  color: #333;
  cursor: url(http://asdf.us/okfocus/ff/finger.png), auto;
}

#fblike {
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0px;
}

#linx {
  top: 10px;
  left: 10px;
  z-index: 10;
  position: fixed;
  color: #333;
}

#navz {
  cursor: pointer;font-size:160%;margin-left:12px;margin-top:2px;
  cursor: hand;font-family:impact;color:white;font-style:italic;text-shadow:-1px 1px black;
  display: none;
}
#navz option {
  cursor: pointer;
  cursor: hand;
}

#logo {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -1;
}

#mark {
  display: inline-block;
  letter-spacing: 7px;
  font-size: 20px;
  margin: 10px 20px 10px 10px;
  cursor: pointer;
  cursor: hand;

}

.post {
  position: absolute;
}

#nav {
  cursor: url(http://asdf.us/okfocus/ff/handopen.gif), auto;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-handle {
  cursor: url(http://asdf.us/okfocus/ff/handopen.gif), auto;
  width: 20000px;
  height: 20000px;
  position: absolute;
  top: 2000px;
  left: 200px;
  opacity: 0;
  overflow: hidden;
  margin-top:-50px;
}
#canvas-handle:active, #canvas-handle.dragging {
  cursor: url(http://asdf.us/okfocus/ff/handgrab.gif), auto;
}

div.title {
  font-size: 24px;
  margin-bottom: 5px;
}
div.copy p {
  margin-bottom: 10px;
}
div.copy p span {
  display: block;
  max-width: 600px;
}
#okfocus {
  position: fixed;
  bottom: 20px;
cursor:pointer;
  right: 15px;
  z-index: 420;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}
#okfocus:hover {
  padding-top: 3px;
  border-top: 1px solid #fff;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #bbb;
  border-bottom: 2px solid #666;
}
#okfocus a:hover {
  background: transparent;cursor:pointer;
}
#okfocus a {
  text-decoration: none;
  border: 0;cursor:pointer;
} #okfocus a img {cursor:pointer;
  text-decoration: none;
  border: 0;
}

