body {
  font-family: Monaco, "Courier New", Courier, monospace;
  background: url(http://www.carbonpictures.com/bucky/data/1826/purplehalloween.gif);
}

.post {
  padding: 10px;
  text-shadow: 10px 10px 10px #444;
  box-shadow: 20px 20px 20px #444;
  background: rgba(255,255,255,0.5);
  text-align: center;
}

p {
  font-size: 13px;
  line-height: 15px;
  color: black;
  font-weight: 100;
  max-width: 600px;
}

p:first-child {
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.title {
  font-size: 26px;
  margin-bottom: 5px;
}

div.copy p span {
  display: block;
  max-width: 600px;
}

