/*FONTS*/

@font-face {
	font-family: 'OKFocusRegular';
	src: url('../fonts/okfocus-regular-webfont.eot');
	font-weight: normal;
}

@font-face {
	font-family: 'OKFocusRegular';
	src: url('../fonts/okfocus-regular-webfont.woff') format('woff'),
	url('../fonts/okfocus-regular-webfont.svg#okfocus-regular-webfont') format('svg');
	font-weight: normal;
}
@font-face {
	font-family: 'gtwal';
	src: url('../fonts/gt_walsheim_medium-webfont.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'gtwal';
	src: url('../fonts/gt_walsheim_medium-webfont.woff') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: 'gtwal-bold';
	src: url('../fonts/GT-Walsheim-Bold.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'gtwal-bold';
	src: url('../fonts/GT-Walsheim-Bold.woff') format('woff');
	font-weight: normal;
}



/*OKFOCUS RESET*/

html,body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 100%;
	outline: 0;
	border: 0;
}

img {
	border: 0; 
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
	outline: 0;
}


/*GLOBAL STYLEZ*/


body {
	background: white url('../images/photocopy.png') center fixed;
	min-width:960px;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.okfont {
	font-family: 'OKFocusRegular', sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.nopointer {
	pointer-events: none;
}

.yespointer {
	pointer-events: auto;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.yesselect {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
	pointer-events: auto;
}


::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	background: #333;
}

::selection {
	background: #A200FF;
	color: white;
	/* Safari */
}

::-moz-selection {
	background: #A200FF;
	color: white;
	/* Firefox */
}

#video {
	height: 100%;
	display: inline-block;
	width: 100%;
}

@-webkit-keyframes a {
	from {
		-webkit-transform: scale(0)rotateX(0deg);
	}
	60% {
		-webkit-transform: scale(0.9)rotateX(180deg);
	}
	to {
		-webkit-transform: scale(1)rotateX(360deg);
	}

}

@-webkit-keyframes b {
	50% {
		background-color: #6698ff;
	}

}
.logo {
	color: transparent!important;
}
.smaller.logo {
	text-shadow: 0 0 #333;
}

header {
	padding: 30px 0 50px 0;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 3;
	background: white;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(44%,rgba(255,255,255,1)), color-stop(74%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	
}


header table {
	margin: 0px auto;
	font-size: 12px;
	color: #555;
	width: 960px;
}

header table td {
	padding: 0px 15px;
	text-align: right;
	min-width: 120px;
}

header table td a.okfont {
	font-weight: bold;
}


header table td a {
	font-weight: bold;
}

.rapper {
	width: 960px;
	margin: 0 auto;
}


.work {
	display: inline-block;
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
}
h2 {
	font-family: 'gtwal', sans-serif;
	font-size: 80px;
	border-bottom: 10px solid;
	clear: both;
	line-height: 95px;
	padding: 70px 0 5px 0;
	margin-bottom: 40px;
	margin-top: 0;
}

@-moz-document url-prefix() {
	h2 {
		font-weight: normal;
		border-bottom: 7px solid;
	}

}

.topstuff {
	height: 100%;
	min-height: 530px;
	width: 100%;
	pointer-events: none;
}

h1.logo {
	font-size: 2.6rem;
	top: 6%;
	left: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	position: fixed;
	margin-left: -5px;
	margin-top: 250px;
	-webkit-animation: a 0.4s 1 ease-in-out;
	-webkit-transition: opacity .6s linear;
	-moz-transition: opacity .6s linear;
	-o-transition: opacity .6s linear;
	transition: opacity .6s linear;
}
.logo.bigger {
	font-size: 34rem;
	text-align: center;
	margin: 0;
	color: transparent;
	opacity: 0.3;
	-webkit-animation: a 0s 1 ease-in-out;
}

.faded {
	opacity: 0.12!important;
}

.thumb {
	padding: 20px;
	display: inline-block;
	float: left;
}

.thumb.show {
	width: 100%;
}

ul.work {
	background: #f9f9f9;
}

p {
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 32px;
	margin: 0;
	position: relative;
	z-index: 2;
}

.about {
	font-size:18px;
	line-height:36px;
}

.thumb .inner {
	display: none;
}
.thumb.show .inner {
	display: block;
	background: white;
	border-top: 20px solid yellow;
	border: 10px solid;
	box-shadow: 0 0 10px #222;
	padding: 10px;
}

.inner p a{
	text-decoration:underline;
}

.thumb .screen {
	width: 200px;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}

.thumb .screen.bigger {
	width: 440px;
}

.thumb .screen td {
	font-family: 'gtwal', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	background: white;
}

.thumb .screen td a {
	display: none;
}
.thumb.show .screen td a {
	display: block;
}

.thumb .screen h4 {
	background: white;
	margin: 0;
	font-size: 28px;
	font-weight: normal;
	display: inline-block;
}

.thumb.show .screen h4 {
	box-shadow: -4px 4px #ccc;
	padding: 4px;
}

.thumb .screen h4 span {
	display: none;
}

.thumb.show .screen h4 span {
	display: block;
}

.thumb.show .screen.centered {
	background-position: center!important;
}

.thumb.show .screen td {
	background: transparent;
}

.thumb.show .screen {
	width: 100%;
	height: 60%;
	border: 10px solid;
	border-bottom: 0px;
	background-size: cover!important;
	background-position: top center!important;
	box-shadow: 0 0 10px #222;
}

.embed {
	display: none;
	width: 100%;
	height: 60%;
	border: 10px solid;
	border-bottom: 0px;
	position: relative;
}
.thumb.embedded.show .screen {
	display: none;
}
.thumb.embedded.show .embed {
	display: block;
}

.embed-inner {
	width: 300px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -150px;
	text-align: center;
}
#okshadow-text {
	color: red;
	font-family: trebuchet ms;
	font-weight: bold;
}
#okshadow-block {
	width: 50px;
	height: 50px;
	background: #ddd;
}

.launch {
	background: blue;
	padding: 4px;
	display: inline-block;
	color: white;
	width: 140px;
	text-align: center;
	margin: 0px auto;
	box-shadow: -4px 4px #ccc;
	position: relative;
}


.nav {
	position: absolute;
	width: 1000px;
	margin-left: -60px;
	font-size: 114px;
	margin-top: -84px;
}

.prev {
	float: left;
}

.next {
	float: right;
}

u {
	border-bottom: 3px solid;
	padding-bottom: 5px;
	text-decoration: none;
}

.press * {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.press td {
	vertical-align: top;
	padding: 0 30px 60px 0;
}
.press td img {
	max-width: 200px;
	margin-bottom: 10px;
}
.press td p {
	font-family: sans-serif;
	line-height: 20px;
	font-size: 16px;
	padding: 15px 0;
}


#map {
	height: 100%;
	width: 100%;
	box-shadow: 0 -5px 9px #666;
}
#contact {
	position: absolute;
	margin-left: 5%;
	margin-top: -45%;
	font-family: 'gtwal',sans-serif;
}

#contact h1 {
	font-size: 7rem;
	margin: 0;
	color: white;
	padding: 0;
	clear: both;
	text-align: left;
	font-weight: bold;
	font-family: sans-serif;
	background: rgba(255,255,0,0.2);
	display: inline;
}


.contactbox {
	color: white;
	font-size: 2.5rem;
	margin-left: 0;
	background: rgba(0, 0, 255, 0.8);
	float: left;
	margin: 1%;
	max-width: 30%;
	text-decoration: none;
}

#directions {
	cursor: pointer;
}

#phone {
	margin-bottom: 1%;
}

#contact .social {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	color: white;
	background: transparent;
}

#contact .social a {
	padding: 0;
	margin: 0;
	color: white;
	padding: 2px;
	font-size: 4rem;
	margin: 1%;
	background: rgba(0, 0, 255, 0.8) ;
}

/*hover states for desktop*/
@media screen {
	header table td a:hover {
		border-bottom: 3px solid;
	}

	header table td a.okfont:hover {
		border-bottom: 0px solid;
	}

	.thumb:hover {
		background-image: url(/assets/images/dotbg2.gif);
		background-color: blue;
		cursor: pointer;
	}

	.thumb.show:hover {
		cursor: default;
		background: #f9f9f9;
	}

	.thumb:hover td {
		display: none;
	}

	.thumb.show:hover td {
		display: table-cell;
	}

	.launch:hover {
		color: yellow;
	}

	.nav a:hover {
		color: blue;
	}

	.press a:hover p {
		color: blue;
	}

	#contact a:hover {
		background: rgba(0,120,255,0.5);
		text-decoration: underline
	}

	#contact .social a:hover {
		background: rgba(0,120,255,0.5);
	}

}



/* the dynamic background-position on okzoom didn't work until i added this.. ! */


#ok-lorgnette {
	-webkit-transition: background-position 0.01s linear;
	-moz-transition: background-position 0.01s linear;
	-o-transition: background-position 0.01s linear;
	-ms-transition: background-position 0.01s linear;
	transition: background-position 0.01s linear;
}

@media (min-width: 1500px) {
	.rapper {
		width: 1140px;
	}

}


@media (min-width: 1500px) {
	.rapper {
		width: 1200px;
	}
	header table {
		width: 1200px;
	}
	.about {
		font-size: 21px;
	}
	.press td p {
		font-family: sans-serif;
		line-height: 20px;
		font-size: 16px;
		padding: 15px 0px 15px 0;
		max-width: 300px;
		margin-right: 70px;
	}
	.nav{
		width:1240px;
	}
}

@media (max-width: 1140px) {
	#contact h1{
		font-size:4rem;
	}
	#contact {
	margin-top: -53%;
	}
}
@media (max-width: 1000px) {
	#contact {
	margin-top: -58%;
	}
}
@media only screen and (max-height:650px){
	.inner p{
		line-height:22px;
	}
}

@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
}
