/*fonts*/

@font-face {
	font-family: 'OKFocusRegular';
	src: url('../fonts/okfocus-regular-webfont.eot');
	font-weight: normal;
}

@font-face {
	font-family: 'OKFocusRegular';
	src: url('../fonts/okfocus-regular-webfont.woff') format('woff'),
	url('../fonts/okfocus-regular-webfont.svg#okfocus-regular-webfont') format('svg');
	font-weight: normal;
}

@font-face {
	font-family: 'gtwal';
	src: url('../fonts/gt_walsheim_medium-webfont.eot');
	font-weight: normal;
}

@font-face {
	font-family: 'gtwal';
	src: url('../fonts/gt_walsheim_medium-webfont.woff') format('woff'),
	url('../fonts/gt_walsheim_medium-webfont.svg#gt_walsheim_medium-webfont') format('svg');
	font-weight: normal;
}

/*okfocus reset*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12px;
	outline: 0;
	border: 0;
	width:100%;
	height:100%;
}

.mobile {
	display: none;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: black;
	-webkit-transition:color 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition:color 0.25s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	outline: 0;
}

/*ok lets start writing seriocss!!!!*/

body {
	background: white url('../images/photocopy.png') center fixed;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.okfont {
	font-family: 'OKFocusRegular', sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.nopointer {
	pointer-events: none;
}

.yespointer {
	pointer-events: auto;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.yesselect {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
	pointer-events: auto;
}


::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	background: #333;
}

::selection {
	background: #A200FF;
	color: white;
}

::-moz-selection {
	background: #A200FF;
	color: white;
}

#video {
	height: 100%;
	display: inline-block;
	width: 100%;
}

@-webkit-keyframes a {
	from {
		-webkit-transform: scale(0)rotateX(0deg);
	}
	60% {
		-webkit-transform: scale(0.9)rotateX(180deg);
	}
	to {
		-webkit-transform: scale(1)rotateX(360deg);
	}
}

.logo-holder {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.frontlogo {
	color: rgba(255,255,255,0.6);
	width: 100%;
	text-align: center;
	font-size: 4rem;
}

.frontlogo span {
	display: block;
	width: 100%;
	min-height: 62px;
	/*-webkit-animation: a 0.9s 1 ease-in-out;*/
}

header {
	padding: 30px 0 50px 0;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 3;
	background: white;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 74%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(44%,rgba(255,255,255,1)), color-stop(74%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 74%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

header table {
	margin: 0px auto;
	font-size: 12px;
	color: #555;
	width: 960px;
}

header table td {
	padding: 0px 15px;
	text-align: right;
	min-width: 120px;
}

header table td a.okfont {
	font-weight: bold;
}

header table td a {
	font-weight: bold;
}

#staff {
	width: 100%;
	text-align: center;
	border-spacing: 0;
	margin-top:60px;
}
#staff b{
	display:block;
}
#staff img{
	width:50%;
	margin:20px 0;
}

.rapper {
	width: 960px;
	margin: 0 auto;
}

.work {
	display: inline-block;
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
	position: relative;
	z-index: 1;
}

h2 {
	font-family: 'gtwal', sans-serif;
	font-size: 600%;
	font-weight: normal;
	border-bottom: 7px solid;
	clear: both;
	line-height: 110%;
	padding: 70px 0 5px 0;
	margin-bottom: 40px;
	margin-top: 0;
}

.thumb {
	padding: 20px;
	display: inline-block;
	float: left;
}

.thumb.show {
	width: 100%;
}

ul.work {
	background: #f9f9f9;
}

p {
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 32px;
	margin: 0;
	position: relative;
	z-index: 2;
}

.about {
	font-size: 150%;
	line-height: 220%;
}

.thumb .inner {
	display: none;
}
.thumb.show .inner {
	display: block;
	background: white;
	border-top: 20px solid yellow;
	border: 10px solid;
	box-shadow: 0 0 10px #222;
	padding: 10px;
}

.inner p a {
	text-decoration: underline;
}

.thumb .screen {
	width: 200px;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
}

.thumb .screen.bigger {
	width: 440px;
}

.thumb .screen td {
	font-family: 'gtwal', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	background: white;
}

.thumb .screen td a {
	display: none;
}
.thumb.show .screen td a {
	display: block;
}

.thumb .screen h4 {
	background: white;
	margin: 0;
	font-size: 28px;
	font-weight: normal;
	display: inline-block;
	font-weight: normal;
}

.thumb.show .screen h4 {
	box-shadow: -4px 4px #ccc;
	padding: 4px;
}

.thumb .screen h4 span {
	display: none;
}

.thumb.show .screen h4 span {
	display: block;
}

.thumb.show .screen.centered {
	background-position: center!important;
}

.thumb.show .screen td {
	background: transparent;
}

.thumb.show .screen {
	width: 100%;
	height: 60%;
	min-height:320px;
	border: 10px solid;
	border-bottom: 0px;
	background-size: cover!important;
	background-position: top center!important;
	box-shadow: 0 0 10px #222;
}

.embed {
	display: none;
	width: 100%;
	height: 60%;
	min-height: 320px;
	border: 10px solid;
	border-bottom: 0px;
	position: relative;
}

.thumb.embedded.show .screen {
	display: none;
}

.thumb.embedded.show .embed {
	display: block;
}

.embed-inner {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	text-align: center;
}
#okshadow-text {
	position: absolute;
	top: 140px;
	width: 100%;
	text-align: center;
	color: red;
	font-family: sans-serif;
	font-weight: bold;
}

.okshadow-block {
	position: absolute;
}

.okshadow-block:nth-child(9n) {
	background: rgb(231,230,238);
	width: 145px;
	height: 145px;
	top: 110px;
	left: 161px;
}

.okshadow-block:nth-child(9n+1) {
	background: rgb(232,230,238);
	width: 143px;
	height: 143px;
	top: 30px;
	left: 120px;
}

.okshadow-block:nth-child(9n+2) {
	background: rgb(231,228,235);
	width: 150px;
	height: 150px;
	top: 60px;
	left: 80px;
}

.okshadow-block:nth-child(9n+3) {
	background: rgb(234,228,237);
	width: 142px;
	height: 142px;
	top: 10px;
	left: 40px;
}
.okshadow-block:nth-child(9n+4) {
	background: rgb(233,234,237);
	width: 141px;
	height: 141px;
	top: 10px;
	left: 250px;
}

.okshadow-block:nth-child(9n+5) {
	background: rgb(232,233,238);
	width: 143px;
	height: 143px;
	top: 40px;
	left: 210px;
}

.okshadow-block:nth-child(9n+6) {
	background: rgb(228,229,237);
	width: 151px;
	height: 151px;
	top: 70px;
	left: 180px;
}
.okshadow-block:nth-child(9n+7) {
	background: rgb(228,228,242);
	width: 138px;
	height: 138px;
	top: 110px;
	left: 144px;
}
.okshadow-block:nth-child(9n+8) {
	background: rgb(235,231,241);
	width: 140px;
	height: 140px;
	top: 150px;
	left: 100px;
}

.launch {
	background: blue;
	padding: 4px;
	display: inline-block;
	color: white;
	width: 140px;
	text-align: center;
	margin: 0px auto;
	box-shadow: -4px 4px #ccc;
	position: relative;
}

.nav {
	position: absolute;
	width: 1000px;
	margin-left: -60px;
	font-size: 114px;
	margin-top: -40px;
}

.nav a {
	background-image: url('../images/arrows.gif');
	background-repeat: no-repeat;
	width: 91px;
	height: 49px;
}

.prev {
	float: left;
	background-position: 0 -118px;
}

.prev:hover {
	background-position: 0 -5px;
}

.next {
	float: right;
	background-position: 0 -173px;
}

.next:hover {
	background-position: 0 -60px;
}

.press{
	text-align:center;
	margin-bottom:60px;
	display:inline-block;
}
.press p{
	line-height:auto;
	text-align:justify;
	margin:0 20px;
}
.press a {
	display:inline-block;
	width:33.33%;
	float:left;
	margin:60px 0;
}
.press a img{
	max-width:60%;
}
.cube {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	height: 130px;
	-webkit-transition: -webkit-transform .33s cubic-bezier(0.230,1.000,0.320,1.000);
	-moz-transition: -moz-transform .33s cubic-bezier(0.230,1.000,0.320,1.000);
	transition: transform .33s cubic-bezier(0.230,1.000,0.320,1.000);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
	margin-top: 10px;
	cursor:pointer;
}

.flippety,.flop {
	background: white;
	height: 100px;
}

.flippety {
	-webkit-transform: translateZ(50px);
	-moz-transform: translateZ(50px);
	transform: translateZ(50px);
}

.flop {
	-webkit-transform: rotateX(-90deg) translateZ(-50px);
	-moz-transform: rotateX(-90deg) translateZ(-50px);
	transform: rotateX(-90deg) translateZ(-50px);
}

.press a:hover .cube {
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg); 
}
.creators {
	clear: both;
	padding: 40px;
	display: inline-block;
	width: 100%;
	text-align: center;
	background: #eee;
	margin-bottom: 120px;
}

.creators iframe {
	padding: 30px;
	border: 40px ridge gold;
	box-shadow: 0 0 10px #222;
}

#map {
	height: 100%;
	width: 100%;
	box-shadow: 0 -5px 9px #666;
	position: absolute;
	z-index: 0;
}
#contact {
	height: 100%;
	max-height: 800px;
	position: absolute;
	font-family: 'gtwal',sans-serif;
}

#contact td {
	position: relative;
	z-index: 1;
	padding-left: 2%;
}

#contact h1 {
	font-size: 7rem;
	margin: 0;
	color: white;
	padding: 0;
	clear: both;
	text-align: left;
	background: rgba(255,255,0,0.2);
	display: inline;
	font-weight: normal;
}

.contactbox {
	color: white;
	font-size: 2.5rem;
	margin-left: 0;
	background: rgba(0, 0, 255, 0.8);
	float: left;
	margin: 1%;
	max-width: 30%;
	text-decoration: none;
}

#directions {
	cursor: pointer;
}

#phone {
	margin-bottom: 1%;
}

#contact .social {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	color: white;
	background: transparent;
}

#contact .social a {
	padding: 5px;
	color: white;
	padding: 2px;
	font-size: 4rem;
	margin: 2%;
	background: rgba(0, 0, 255, 0.8) ;
}

/*hover stat.es*/

header table td a:hover {
	border-bottom: 3px solid;
}

header table td a.okfont:hover {
	border-bottom: 0px solid;
}

#work {
	-webkit-persepctive:500;
}
.thumb {
	-webkit-transform:scale(0.97)perspective(500)rotateY(0deg);
	-webkit-transition:-webkit-transform 0.15s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transform:scale(0.97);
	-moz-transition:-webkit-transform 0.15s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-webkit-transform-style: preserve-3d;
}
.thumb.right {
	-webkit-transform:scale(0.97)perspective(500)rotateY(0deg);
}
.thumb:hover {
	background-image: url(/assets/images/dotbg2.gif);
	background-color: blue;
	cursor: pointer;
	-webkit-transform:scale(1)perspective(500)rotateY(0deg);
	-moz-transform:scale(1);
}

.thumb.show {
	-webkit-transform:scale(1);
	-webkit-transition:-webkit-transform 0s;
	-moz-transform:scale(1);
	-moz-transition:-webkit-transform 0s;
}

.thumb.show:hover {
	cursor: default;
	background: #f9f9f9;
}

.thumb:hover td {
	display: none;
}

.thumb.show:hover td {
	display: table-cell;
}

.launch:hover {
	color: yellow;
}

.nav a:hover {
	color: blue;
}

.press a:hover p {
	color: blue;
}

#contact a:hover {
	background: rgba(0,120,255,0.5);
	text-decoration: underline
}

#contact .social a:hover {
	background: rgba(0,120,255,0.5);
}

/* the dynamic background-position on okzoom didn't work until i added this.. ! */


#ok-lorgnette {
	-webkit-transition: background-position 0.01s linear;
	-moz-transition: background-position 0.01s linear;
	-o-transition: background-position 0.01s linear;
	-ms-transition: background-position 0.01s linear;
	transition: background-position 0.01s linear;
}

@media (min-width: 1500px) {
	.rapper {
		width: 1140px;
	}
}


@media (min-width: 1500px) {
	.rapper {
		width: 1200px;
	}
	header table {
		width: 1200px;
	}
	.about {
		font-size: 21px;
	}
	.press td p {
		font-family: sans-serif;
		line-height: 20px;
		font-size: 16px;
		padding: 15px 0px 15px 0;
		max-width: 300px;
		margin-right: 70px;
	}
	p{
		font-size:19px;
	}
	.nav {
		width: 1240px;
	}
}

@media (max-width:720px) {
	body {
		font-size:8px;
	}
	.rapper {
		width: 720px;
		margin: 0 auto;
	}
	header table {
		width: 720px;
	}
}

@media (max-width: 1140px) {
	#contact h1 {
		font-size: 5rem;
	}
}

@media only screen and (max-height:650px) {
	.inner p {
		line-height: 22px;
	}
}

/*MOBILE STYLEZ YALL*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		min-width: auto;
	}
	.desktop {
		display: none;
	}

	.mobile {
		height: 100%;
		width: 100%;
		display: table;
		position: absolute;
	}
	.mobile td {
		height: 100%;
		text-align: center;
	}
	.phone {
		font-size: 310px;
		color: rgba(0,0,0,0.7);
	}
	.mobile .logo {
		position: absolute;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		margin-top: 150px;
	}
	.mobile p {
		font-size: 12px;
		line-height: 24px;
	}
	.mobile p a {
			color: rgba(0,0,0,0.7)!important;
	}
}

@media all and (device-width: 768px) and (device-height: 1024px)  {

	#startvid{
		display:none;
	}
	.frontlogo span {
	color:black;
	}
}
