
body{width:800px;background-color:white;margin:5px auto 5px;box-shadow:0px 0px 13px black;padding:20px;white-space:nowrap;font-weight:100;min-height:900px;overflow:auto;}
html{background-attachment:fixed;background-image:url(http://cdn.dismagazine.com/images/bg/blinds-lg.jpg);display:inline-block;}
img{text-align:right;max-width:400px;margin-right:20px;margin-top:20px;border:1px solid;border-bottom:5px solid;}
h1{overflow:hidden;text-transform:uppercase;font-weight:100;font-size:50px;font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;border-bottom:1px solid;}
p{overflow: hidden;display:block;font-size:12px;white-space:pre-wrap;padding:0;margin:0;font-weight:300;text-align:right;}
p:first-line{color:#333;font-weight:300;font-size:13px;}
a img{border:0;overflow:hidden;}
#oknav{width:830px;position:fixed;bottom:40%;}
.okleft{float:left;margin-left:-50px;}
.okright{float:right;margin-right:-50px;}